{% comment %}
*   
*   This include lets you loop through a collection to list
*   all entries in that collection.
*   
*   If you set »published: false« in front matter of a collection page 
*   the page gots filtered out via unless
*
*   Example: {% include list-collection.html collection='wordpress' %}
*   
{% endcomment %}

<ul class="side-nav">
  {% if include.sticky-link-url  %}
    <li><a href="{{ site.url }}{{ include.sticky-link-url }}">{{ include.sticky-link-title }}</a></li>
  {% endif %}
  {% for page in (site.[include.collection] | sort: 'title') %}
    {% unless page.hidden == true %}
    <li><a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a></li>
    {% endunless %}
  {% endfor %}
  <li>&nbsp;</li>
</ul>
