<aside>

<div class="radius b20 center">
<table style="width: 100%;">
<col width="30%"/>
<col width="70%"/>
<tr style="background: white;">
<td><a href="{{ site.url }}/downloads"><span class="icon-archive" style="font-size: 400%;"></span></a></td>
<td>
{% assign stable = (site.data.releases | where:"status", "stable" | first) %}
<a href="{{ site.url }}/downloads"><span style="font-size: 100%;">Download</span><br/> 
<b style="font-size: 120%">WebAnno {{ stable.version }}</b></a><br/>
<span style="font-size: 70%;">(Released on {{ stable.date }})</span>
</td>
</tr>
</table>

<div class="radius b20">
<iframe id="ytplayer" type="text/html" height="227" src="https://www.youtube-nocookie.com/embed/?listType=playlist&list=PLvYKmi8P7TYdC-7A_VT4td95629aZIwDb&color=white&showinfo=1" frameborder="0" allowfullscreen></iframe>
</div>

<div class="center radius b20">
<a href="https://twitter.com/search?q=%23webanno" target="_blank" class="icon-twitter" title="Twitter: #webanno">Find us on Twitter</a>
</div>

<div class="radius b20 pseudo-p">
<table style="width: 100%;">
<col width="30%"/>
<col width="70%"/>
<tr style="background: white;">
<td colspan="2" style="text-align: center;">WebAnno is also offered as a service to members of research institutions.</td>
</tr>
<tr style="background: white;">
<td><img src="{{ site.url }}/images/logos/clarin-d.png"/></td>
<td><a href="https://webanno.sfs.uni-tuebingen.de/">CLARIN-D WebAnno</a>:</b><br/> The CLARIN-D Center at the University of Tübingen hosts a WebAnno instance as part of <a href="https://www.clarin-d.net/de/">CLARIN-D</a>.</td>
</tr>
<tr style="background: white;">
<td><img src="{{ site.url }}/images/logos/FIN-CLARIN_logo.png"/></td>
<td><a href="https://www.kielipankki.fi/webanno/">FIN-CLARIN WebAnno</a>:</b><br/> The Language Bank of Finland hosts a WebAnno instance as part of <a href="https://www.kielipankki.fi/organization/fin-clarin/">FIN-CLARIN</a>.</td>
</tr>
</table>

{% comment %}
<div class="radius b20">
<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/i_am_rec/timelines/496388179579375616" data-widget-id="498356424754225152" width="400" height="300">#webanno</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
{% endcomment %}

{% comment %}
<div class="radius b20">
<script type="text/javascript" src="http://www.openhub.net/p/487652/widgets/project_factoids_stats.js"></script>
</div>
{% endcomment %}

{% comment %}
<div class="radius b20">
<h3>Acknowledgements</h3>
<p>
<div class="center"><img src="{{ site.url }}/images/logos/clarin-d.png"/></div>
<div class="center"><img src="{{ site.url }}/images/logos/bmbf.jpg"/></div>
</p>
{% endcomment %}

{% comment %}
<h3>Additional Support</h3>
<p>
<div class="center"><img src="{{ site.url }}/images/logos/appenlogo.png"/></div>
<span class="footnotes">Appen logo used with kind permission by Appen.</span>
</p>
</div>
{% endcomment %}

</aside>
