<aside>

<div class="radius b20 center">
{% assign stable = (site.data.releases | where:"status", "stable" | first) %}
Latest release: {{ stable.version }} ({{ stable.date }})
</div>

<div class="radius b20">
<iframe id="ytplayer" type="text/html" height="227" src="https://www.youtube.com/embed/?listType=playlist&list=PLvYKmi8P7TYdC-7A_VT4td95629aZIwDb&color=white&showinfo=1" frameborder="0" allowfullscreen></iframe>
</div>

<div class="radius b20 pseudo-p">
<b>DEMO:</b> To try WebAnno, <a href="https://maggie.lt.informatik.tu-darmstadt.de/webanno">login here</a> with username <b>guest</b> and password <b>guest</b>. Create your own project and try all the functionality (compatible with Chrome and Safari).
</div>

<div class="radius b20">
<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/i_am_rec/timelines/496388179579375616" data-widget-id="498356424754225152" width="400" height="300">#webanno</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

{% comment %}
<div class="radius b20">
<script type="text/javascript" src="http://www.openhub.net/p/487652/widgets/project_factoids_stats.js"></script>
</div>
{% endcomment %}

<div class="radius b20">
<h3>Acknowledgements</h3>
<p>
<div class="center"><img src="{{ site.url }}/images/logos/clarin-d.png"/></div>
<div class="center"><img src="{{ site.url }}/images/logos/bmbf.jpg"/></div>
</p>

<h3>Additional Support</h3>
<p>
<div class="center"><img src="{{ site.url }}/images/logos/appenlogo.png"/></div>
<span class="footnotes">Appen logo used with kind permission by Appen.</span>
</p>
</div>

</aside>
