<table class="pseudo-p" style="margin: 0 auto; width: 100%;">
<tr style="background: #fff">
<td rowspan="3">
<img src="{{ site.url }}/images/logos/ukp-lab.png" width="144"/>
</td>
<td style="border-right: solid 1px #ddd;">
<div><a href="https://www.ukp.tu-darmstadt.de/people/senior-staff/dr-richard-eckart-de-  castilho/">Richard Eckart de Castilho</a></div>
<div><i>project lead</i></div>
</td>
<td>
<div><a href="https://www.lt.informatik.tu-darmstadt.de/de/people/prof-dr-chris-biemann/">   Chris Biemann</a></div>
<div><i>project lead</i></div>
</td>
<td rowspan="3">
<img src="{{ site.url }}/images/logos/lt.png" width="88"/>
</td>
</tr>
<tr style="background: #fff">
<td style="border-right: solid 1px #ddd;">
<div>Aakash Sharma</div>
<div><i>junior developer</i></div>
</td>
<td>
<div><a href="https://www.lt.informatik.tu-darmstadt.de/de/people/seid-muhie-yimam/">Seid   Muhie Yimam</a></div>
<div><i>developer</i></div>
</td>
</tr>
<tr style="background: #fff">
<td style="border-right: solid 1px #ddd;">
<div>Sushil Jain</div>
<div><i>junior developer</i></div>
</td>
<td></td>
</tr>
</tr>
<tr style="background: #fff">
<td rowspan="2" style="background: #fff; border-top: solid 1px #ddd;">
<img src="{{ site.url }}/images/logos/tud_logo.gif" width="144"/>
</td>
<td style="border-top: solid 1px #ddd;">
<div><a href="https://www.ukp.tu-darmstadt.de/people/group-heads/prof-dr-iryna-gurevych/">Iryna Gurevych</a></div>
<div><i>scientific consulting</i></div>
</td>
<td style="background: #fff; border-top: solid 1px #ddd;">
<div><a href="http://www.cl.uni-heidelberg.de/~frank/">Anette Frank</a></div>
<div><i>scientific consulting</i></div>
</td>
<td rowspan="2" style="background: #fff; border-top: solid 1px #ddd;">
<img src="{{ site.url }}/images/logos/siegel_uni_hd_gross.gif" width="88"/>
</td>
</tr>
</tr>
<tr style="background: #fff">
<td>
<div><a href="https://www.ukp.tu-darmstadt.de/people/doctoral-researchers/silvana-hartmann/">Silvana Hartmann</a></div>
<div><i>testing</i></div>
</td>
<td>
<div><a href="http://www.cl.uni-heidelberg.de/~mujdricz/">Éva Mújdricza-Maydt</a></div>
<div><i>testing</i></div>
</td>
</tr>
</table>
