name: Build and deploy SNAPSHOTs

on:
  push:
    branches:
    - master
    - 3.6.x

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Build with Maven and publish SNAPSHOT to GitHub packages
      run: mvn --file pom.xml -B package
